{
  "rules": {},
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "settings": { "react": { "version": "detect" } },
  "extends": ["../../../.eslintrc"],
  "ignorePatterns": ["!**/*"]
}
